* {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000000;
}

.text {
  font-family: monospace;
  line-height: 20px;
  color: #ffffff;
}

#chat-container {
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 80vh;
  background-color: #100020;
  border-radius: 20px;
}

#chat-entry {
  width: 33%;
  height: 100%;
  border-right: 3px solid #FF870F;
}

#chat-display {
  display: flex;
  flex-direction: column;
  width: 67%;
  height: 100%;
  overflow-y: scroll;
}
#chat-display .message {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}
#chat-display .message .sender-icon {
  min-width: 70px;
  height: 70px;
  margin-right: 20px;
  background-color: #201628;
}
#chat-display .message .message-body .sender-username {
  color: #FF870F;
}
#chat-display .message:nth-child(odd) .message-body {
  background-color: #161224;
}

@media (max-width: 600px) {
  #chat-container {
    display: flex;
    flex-direction: column;
  }
}
