* {
	margin: 0px;
	padding: 0px;
}

$homeCol1: #1500cc;
$homeCol2: #ffe100;
$homeCol3: #6634fa;
$homeCol4: #e3d724;
$homeCol5: #7e29ff;
$navCol1: #101010;
$navCol2: #dadfea;

$black: #000000;
$spacegray: #100020;

$yellow: #FFE100;
$orange: #FF870F;
$purple: #8B0FFF;
$dark-yellow: #CCB400;
$dark-orange: #CC6C0C;
$dark-purple: #6F0CCC;

*{
    text-decoration: none;
}
.dropdown{
    color: $navCol2;
    border: 1px solid $navCol1;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: $navCol1;
    border-radius: 10px;
    padding-left: 5px;
}
