@import 'main.scss';

$default-margin: 30px;
$chat-form-margin: 10px;
$chat-user-icon-size: 70px;


@mixin flex-row {
	display: flex;
	flex-direction: row;
}
@mixin flex-column {
	display: flex;
	flex-direction: column;
}


#chat-container {
	@include flex-row;
	width: 80vw;
	height: 80vh;
	background-color: $spacegray;
	border-radius: $container-border-radius;
}

#chat-entry {
	@include flex-column;
	justify-content: flex-end;
	width: 33%;
	height: 100%;
	border-right: 6px solid $black;
}
#chat-form {}
%chat-entry-tool {
	margin: $chat-form-margin;
	width: 100%;
	background-color: $spacegray;
	border-radius: 5px;
}
#text-entry-box {
	@extend %chat-entry-tool;
	height: 200px;
	border: 4px solid $dark-purple;
}
#chat-submit {
	@extend %chat-entry-tool;
	height: 50px;
	border: 4px solid $dark-purple;
}

#chat-display {
	@include flex-column;
	width: 67%;
	height: 100%;
	overflow-y: scroll;


	.message {
		@include flex-row;
		align-items: center;
		margin: $default-margin;

		.sender-icon {
			min-width: $chat-user-icon-size;
			height: $chat-user-icon-size;
			margin-right: 20px;
			background-color: $dark-spacegray;
		}

		.message-body {

			.message-header {
				@include flex-row;
				justify-content: space-between;
				.sender-info {
					.sender-username {
						color: $orange;
					}
					.timestamp {
						color: $dark-orange;
					}
				}
				.options {

				}
			}

		}
	}
	.message:nth-child(odd) .message-body {
		background-color: #161224;
	}

}

@media (max-width: 600px) {
	#chat-container {
		@include flex-column;
	}
	#chat-entry {

	}
}



