@use '_global.scss';

$black: #000000;
$spacegray: #120A21;
$dark-spacegray: #060511;

$yellow: #FFE100;
$orange: #FF870F;
$purple: #8B0FFF;
$dark-yellow: #CCB400;
$dark-orange: #CC6C0C;
$dark-purple: #6F0CCC;

$container-border-radius: 20px;


body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: $dark-spacegray;
}
.text {
	font-family: monospace;
	font-size: 1.2em;
	line-height: 20px;
	color: #ffffff;
}

* {
	margin: 0px;
	padding: 0px;
}